
body {
    text-align: left;
}

.search_body {
    float: left;
    margin-bottom: 5%
}

.title {
    margin: 1%;
}

.container {
    text-align: center;
    width: 300px;
    height: 40px;
    margin: 1%;
    border: dotted 2px #AAA;
    object-fit: contain;
    text-align: center;
    position: relative;
}

#search, #submit {
    font-size: 15px;
    margin: 0; 
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#Flickr_Output {
    margin-top: 5%;
    object-fit: contain;
    margin-bottom: 10%;
}

.flickr_table {
    width: 100%;
    height: auto;
    text-align: center;
    overflow:auto;
    display: table;
    border-collapse: collapse; 
}

.flickr_row {
    height: auto;
    text-align: center;
    overflow:auto;
    display: table-row;
}

.flickr_boxes { 
    display: table-cell; 
    transition: 10s;
}

.images {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    transform: rotateY(90deg);
}

@keyframes Back{
    0% { transform: rotateY(90deg); }
    100% { transform: rotateY(0deg); }
}

@keyframes Zoom{
    0% {
        
    }
}