
body {
    background: #333 no-repeat;
    background-image: -webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#222), to(#333));
    text-align: center;
}

.title {
    text-align: center;
    color: aliceblue;
}

.container {
    width: 500px;
    margin: auto;
    color: white;
    font-size: 20px;
    border: dotted 2px #AAA;
    padding: 10px;
    object-fit: contain;

}

#search, #perPage, #size,  #submit {
    font-size: 25px
}

#Flickr_Output {
    object-fit: contain;
    width: 300px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    perspective: 1000px;
}

.flickr_boxes{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -38%) rotateY(0deg);
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    background-color: #999999;
    object-fit: contain;
    z-index: 100;
}

.title_box{
    margin: 1%;
}

.titleImg {
    text-align: center;
    color: aliceblue;
    margin: 1%;
}

.linkz{
    margin: auto;
}

.images{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/*
.flickr_boxes:nth-child(1){
    animation: Deck_Next 2s 1s Linear forwards;
    z-index: 101;
}
  
.flickr_boxes:nth-child(3){
    animation: Deck_Pre 2s 3s Linear forwards;
    z-index: 1;
}
*/

#Back {
    width: 1px; 
    height: 1px; 
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -25%);
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #999999;
}

#Next {
    width: 1px; 
    height: 1px; 
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translate(-50%, -25%);
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #999999;
}
   
  
  @keyframes Deck_Pre{
      0% { left: 50%; transform: translate(-50%, -38%) rotateY(0deg); box-shadow: 10px 10px 5px grey; }
      50% { left: -75%; transform: translate(-50%, -38%) rotateY(180deg) ; box-shadow: 5px 5px 3px grey; }
      100% { left: 50%; transform: translate(-50%, -38%) rotateY(360deg); box-shadow: 10px 10px 5px grey; }
  }
  @keyframes Deck_Next{
      0% { left: 50%; transform: translate(-50%, -38%) rotateY(0deg); box-shadow: 10px 10px 5px grey; }
      50% { left: 200%; transform: translate(-50%, -38%) rotateY(180deg) ; box-shadow: 15px 15px 3px grey; }
      100% { left: 50%; transform: translate(-50%, -38%) rotateY(360deg); box-shadow: 10px 10px 5px grey; }
  }
  